body {
  margin: 5% 25%;
}

h1,
h2,
button,
#addTodo,
.delete {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
    sans-serif;
}

#top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#list {
  display: flex;
  flex-direction: column;
}

.delete {
  cursor: pointer;
  list-style: none;
  text-align: center;
  margin: 1% 0%;
  background-color: rgb(229, 229, 229);
  font-size: medium;
}
